@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background: #8a8a8a9c; 
}
::-webkit-scrollbar-thumb {
    background: #040611;
}
body {
    background-color: #181d29;
    text-align: center;
}
.navbar {
    margin-top: -1px;
    border-radius: 12px;
    background-color: none;
    padding-top: 8px;
}
.navp {
    float: right;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.navp a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 14px 16px;
    border-radius: 12px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navp a::after {
    content: '';
    width: 0px;
    height: 4px;
    display: block;
    background: cyan;
    transition: 700ms;
}
.navp a:hover::after {
    width: 100%;
}
.navli a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.navli a::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(101, 209, 255);
    transition: 0.3s;
}
.navli a:hover::after {
    width: 100%;
}
.uln {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: none;
}
.uln li {
    display: inline-flex;
}
.main {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
.main img {
    border-radius: 50%;
    width: 240px;
    margin-top: 70px;
    border: 3px solid rgb(0, 225, 255);
}
.links img{
    display: inline-block;
    margin-left: auto;
    padding: 8px;
    cursor: pointer;
}
.links img:hover {
    border: 0.10px solid rgb(0, 183, 255);
    transition: 0.3s;
    border-radius: 11px;
}
.abt {
    margin-top: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
.pro {
    margin-top: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
.nyt {
    display: inline-block;
    margin-left: auto;
    padding: 8px;
    margin-top: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: solid 2px rgb(0, 183, 255);
    background-color: #0e1011;
    border-radius: 11px;
    cursor: pointer;
}
.nyt img {
    border-radius: 12px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.contact {
    margin-top: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}
label {
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #181d29;
    text-align: center;
    line-height: 26px;
    font-family: 'Roboto' sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
}
input {
    height: 50px;
    flex: 0 0 200px;
    border-radius: 4px;
    background-color: #ffffff;
    width: 350px;
    font-size: 18px;
    border: 3px solid #2c2c2c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 3px solid #0e1011;
}
textarea {
    height: 80px;
    flex: 0 0 200px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    border: 3px solid #2c2c2c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
textarea:focus {
    border: 3px solid #0e1011;
}
::placeholder {
    color: rgb(24, 24, 24);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.sum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 16px;
    font-size: 18px;
    background-color: #00fff2;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.sum:hover {
    background-color: #0290e2;
    color: rgb(0, 0, 0);
    border: none;
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(54, 54, 54, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    border-radius: 4px;
}
.sum span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.sum span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.sum:hover span {
    padding-right: 25px;
}
.sum:hover span:after {
    opacity: 1;
    right: 0;
}
.footer {
    margin-top: 100px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
@media screen and (max-width: 800px) {
    .main img {
        width: 220px;
        margin-top: 50px;
    }
    #rv {
        display: none;
    }
    input {
        width: 300px;

    }
    textarea {
        width: 300px;
    }
}